nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em;
	border-bottom: 1px solid #777;
}

.brand, .links {
	display: flex;
	justify-content: center;
	align-items: center;
}

.brand img {
	width: 40px;
	margin-right: 0.6em;
}

.brand h1 {
	transition: .4s
}

.brand:hover h1 {
	color: #dec129
}

.links li {
	list-style: none;
}

.links a {
	padding: .1em 1em;
}

#add a {
	color: #dec129;
}

#add a:hover {
	background-color: #EFEFEF;
}

@media (max-width: 768px) {
	nav {
		flex-direction: column;
	}

	.brand {
		margin-bottom: 1em;
	}
}